@model Mvc_App_Crud.Models.Departamento

@{
    ViewBag.Title = "Visualizar";
}

<h2>Details</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeparatamentoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeparatamentoNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartamentoID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
